---
title: 6to. Cumpleaños de Docker | La Paz Cloud
---

<nav class="navbar is-fixed-top">
  <div class="navbar-brand is-info">
    <a href="/" class="navbar-item has-text-weight-bold">La Paz Cloud</a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <a href="#docker" class="navbar-item">¿Docker?</a>
    <a href="#agenda" class="navbar-item">Agenda</a>
    <a href="#speakers" class="navbar-item">Speakers</a>
    <a href="#como-llegar" class="navbar-item">Cómo llegar</a>
    <!-- <a href="#quienes-somos" class="navbar-item">Quiénes somos</a> -->
  </div>
</nav>

<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Cumpleaños #6 de Docker</h1>
      <h2 class="subtitle">
        Miércoles 27 de Marzo, 2019 | 
        7:00pm | 
        <a class="has-text-weight-bold" href="https://www.facebook.com/linkcowork/" target="_blank">LINK Cowork</a>
      </h2>
      <a href="https://events.docker.com/events/details/docker-la-paz-presents-docker-cumple-6-anos-celebremos/" target="_blank" class="button is-bold is-primary is-uppercase has-text-weight-bold">Reservar Entrada</a>
    </div>
  </div>
</section>

<section class="hero has-text-centered" id="docker">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">¿Docker?</h1>
      <div class="columns">
          <iframe class="column" width="100%" height="auto" src="https://www.youtube.com/embed/hQgvt-s-AHQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <div class="column has-text-left">
          <div class="content">
            <p>Docker empaqueta software en unidades estandarizadas llamadas contenedores que incluyen todo lo necesario para que el software se ejecute, incluidas bibliotecas, herramientas de sistema, código y tiempo de ejecución.</p>
            <p>En los últimos años, el uso de contenedores para manejar, mantener y actualizar aplicaciones web se ha popularizado tremendamente. Gigantes de internet como Google han aportado a esta tecnología con <a href="https://kubernetes.io/" target="_blank" rel="noopener noreferrer">Kubernetes</a> o Red Hat con <a href="https://www.openshift.com/" target="_blank" rel="noopener noreferrer">OpenShift</a>.
            <p>La eventual consolidación de la <a href="https://www.cncf.io/" target="_blank" rel="noopener noreferrer">Fundación de Computación Nativa en la Nube (CNCF)</a> y los proyectos que alberga han estandarizado el uso de contenedores como la tecnología base para el manejo y operacion de aplicaciones web.</p>
            <a href="https://www.docker.com" target="_blank" class="button is-info">Más sobre Docker</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-dark has-text-centered" id="agenda">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Agenda</h1>

      <div class="columns is-mobile is-vcentered is-spaced">
          <div class="column has-text-right">
            <p class="heading">7:00pm</p>
            <p class="title is-5">Apertura</p>             
          </div>
          <div class="column has-text-left">
            <p>Una breve charla sobre el grupo La Paz Cloud, nuestros objetivos y próximos eventos en el año.</p>
          </div>
        </div>

      <div class="columns is-mobile is-vcentered is-spaced">
        <div class="column has-text-right">
          <p class="heading">7:15pm</p>
          <p class="title is-5">Lo nuevo de Docker en 2019</p>             
        </div>
        <div class="column has-text-left">
          <p>¿Qué es lo próximo que viene en Docker? Se mostrarán nuevas funcionalidades y cómo pueden usarse al manejar aplicaciones web.</p>
        </div>
      </div>

      <div class="columns is-mobile is-vcentered is-spaced">
        <div class="column has-text-right">
            <p class="heading">7:45pm</p>
            <p class="title is-5">Kubernetes en Raspberry Pi con k3s</p>
        </div>
        <div class="column has-text-left">
          <p>Kubernetes ya es el estándar para orquestrar contenedores y servicios web. Con k3s es posible lanzar un cluster con Raspberry Pi y emular un pequeño data center. DIY!</p>
        </div>
      </div>

      <div class="columns is-mobile is-vcentered is-spaced">
        <div class="column has-text-right">
            <p class="heading">8:15pm</p>
            <p class="title is-5">Monitoreo de aplicaciones web</p>
        </div>
        <div class="column has-text-left">
          <p>Tener monitoreo constante del estado de los servicios web es esencial para mantenerlos. Veremos qué herramientas se pueden usar y cómo se implementan dentro de la tecnología de contenedores.</p>
        </div>
      </div>

      <div class="columns is-mobile is-vcentered is-spaced">
          <div class="column has-text-right">
              <p class="heading">8:45pm</p>
              <p class="title is-5">A comer torta y cierre del evento</p>
          </div>
          <div class="column has-text-left">
            <p>Tomaremos una foto grupal con todos los asistentes, comeremos torta y haremos algo de networking para expandir contactos.</p>
          </div>
        </div>
    </div>
  </div>
</section>

<section class="section has-text-centered" id="speakers">
  <h1 class="title">Speakers</h1>
  <div class="columns">

    <div class="column">
      <div class="box">
        <article class="media">
          <div class="media-left">
              <figure class="image is-128x128">
                  <img src="images/moni.jpg" alt="Mónica Limachi" class="is-rounded">
                </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-4">Monica Limachi</h1>
              <p class="subtitle is-6">Ingeniera de QA en Mojix</p>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="column">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="images/dennis.png" alt="Dennis Ruiz" class="is-rounded">
                      </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-4">Dennis Ruiz</h1>
                    <p class="subtitle is-6">Consultor en DevOps y seguridad web</p>
                  </div>
                </div>
              </article>
        </div>
    </div>

    <div class="column">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="images/miguel.jpg" alt="Miguel Callejas" class="is-rounded">
                      </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-4">Miguel Callejas</h1>
                    <p class="subtitle is-6">Ingeniero DevOps en Mojix</p>
                  </div>
                </div>
              </article>
        </div>
    </div>

    <div class="column">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="images/yamil.jpg" alt="Yamil Urbina" class="is-rounded">
                      </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-4">Yamil Urbina</h1>
                    <p class="subtitle is-6">Ingeniero DevOps en Jalasoft</p>
                  </div>
                </div>
              </article>
        </div>
    </div>

  </div>
</section>

<section class="section has-text-centered" id="como-llegar">
  <h1 class="title">Cómo llegar</h1>
  <div class="columns">
    <iframe class="column gmaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.481196886408!2d-68.1351922849594!3d-16.501787145146928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f21111a79cb33%3A0xd38494ccc14774b3!2sLink+CoWork!5e0!3m2!1sen!2sbo!4v1553361353821" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</section>

<!-- <section class="section has-text-centered" id="quienes-somos">
  <h1 class="title">Quiénes somos</h1>
</section> -->

<footer class="footer">
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <a href="#docker" class="has-text-dark">¿Docker?</a>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <a href="#agenda" class="has-text-dark">Agenda</a>
      </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
          <a href="#speakers" class="has-text-dark">Speakers</a>
        </div>
      </div>
    <div class="level-item has-text-centered">
        <div>
          <a href="#como-llegar" class="has-text-dark">Cómo llegar</a>
        </div>
      </div>
      <!-- <div class="level-item has-text-centered">
          <div>
            <a href="#quienes-somos">Quiénes somos</a>
          </div>
        </div> -->
    </nav>
  <div class="content has-text-centered has-text-grey">
    <p>&copy; 2019 La Paz Cloud</p>
    <span class="tag has-background-success has-text-white">
      <a class="has-text-white" href="https://www.lapaz.bo/lapazmaravillosa/" target="_blank" rel="noopener noreferrer">La Paz, Bolivia</a>
    </span>
  </div>
</footer>