---
title: 6to. Cumpleaños de Docker | La Paz Cloud
---

<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Cumpleaños #6 de Docker</h1>
      <h2 class="subtitle">
        Miércoles 27 de Marzo, 2019 | 
        <a class="has-text-weight-bold" href="https://www.facebook.com/linkcowork/" target="_blank">LINK Cowork</a>
      </h2>
      <a href="https://events.docker.com/events/details/docker-la-paz-presents-docker-cumple-6-anos-celebremos/" target="_blank" class="button is-bold is-primary is-uppercase">Reservar Entrada</a>
    </div>
  </div>
</section>

<section class="hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">¿Qué estamos celebrando?</h1>
      <div class="columns">
        <iframe class="column" src="https://www.youtube-nocookie.com/embed/wW9CAH9nSLs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="column">
          <div class="content">
            <p>Docker es una plataforma de software lanzada en 2013 que  permite crear, probar e implementar aplicaciones rápidamente.</p>
            <p>Docker empaqueta software en unidades estandarizadas llamadas contenedores que incluyen todo lo necesario para que el software se ejecute, incluidas bibliotecas, herramientas de sistema, código y tiempo de ejecución.</p>
            <p>Queremos celebrar los 6 años de esta interesante tecnología como se merece con charlas, torta y refresco.</p>
            <a href="https://www.docker.com" target="_blank" class="button is-primary">Más sobre Docker</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-dark has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Agenda</h1>

      <div class="columns is-mobile is-vcentered is-spaced">
          <div class="column has-text-right">
            <p class="heading">7:00pm</p>
            <p class="title is-5">Apertura</p>             
          </div>
          <div class="column has-text-left">
          </div>
        </div>

      <div class="columns is-mobile is-vcentered is-spaced">
        <div class="column has-text-right">
          <p class="heading">7:15pm</p>
          <p class="title is-5">Lo nuevo de Docker en 2019</p>             
        </div>
        <div class="column has-text-left">
          <p>¿Qué es lo próximo que viene en Docker? Se mostrarán nuevas funcionalidades y cómo pueden usarse al manejar aplicaciones web.</p>
        </div>
      </div>

      <div class="columns is-mobile is-vcentered is-spaced">
        <div class="column has-text-right">
            <p class="heading">7:45pm</p>
            <p class="title is-5">Kubernetes en Raspberry Pi con k3s</p>
        </div>
        <div class="column has-text-left">
          <p>Kubernetes ya es el estándar para orquestrar contenedores y servicios web. Con k3s es posible lanzar un cluster con Raspberry Pi y emular un pequeño data center. DIY!</p>
        </div>
      </div>

      <div class="columns is-mobile is-vcentered is-spaced">
        <div class="column has-text-right">
            <p class="heading">8:15pm</p>
            <p class="title is-5">Monitoreo de aplicaciones web</p>
        </div>
        <div class="column has-text-left">
          <p>TBD</p>
        </div>
      </div>

      <div class="columns is-mobile is-vcentered is-spaced">
          <div class="column has-text-right">
              <p class="heading">8:45pm</p>
              <p class="title is-5">A comer torta y cierre del evento</p>
          </div>
          <div class="column has-text-left">
          </div>
        </div>
    </div>
  </div>
</section>
